@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script async src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/js/uikit.min.js"></script>
	</head>
	<body>
		<nav class="uk-navbar">
			<ul class="uk-navbar-nav">
				<li class="uk-active"><a href="">Home</a></li>
				<li><a href="">Place</a></li>
				<li class="uk-parent"><a href="">Drop</a></li>
			</ul>
		</nav>
		@content
	</body>
</html>